src/main/resources/xsd/ESADout_CU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ESADout_CU="urn:customs.ru:Information:CustomsDocuments:ESADout_CU:5.0.7" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.0.7" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.0.7" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.0.7" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.0.7" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ESADout_CU:5.0.7" elementFormDefault="qualified" version="5.0.7.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.0.7" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.0.7" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.0.7" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.0.7" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Электронная копия  декларации на товары/транзитной декларации</xs:documentation>
	</xs:annotation>
	<xs:element name="ESADout_CU" type="ESADout_CU:ESADout_CUType"/>
	<xs:complexType name="ESADout_CUType">
		<xs:annotation>
			<xs:documentation>Электронная копия  декларации на товары / транзитной декларации.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
						<xs:annotation>
							<xs:documentation> ИМ, ЭК. ТТ. Первый подраздел гр.1 ДТ/ТД.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код таможенной процедуры в соответствии с Классификатором видов таможенных процедур.  гр. 1. второй подраздел ДТ. Первый элемент первого подраздела гр. 37.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsModeCodeMPO" type="clt_ru:Code3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>МПО гр. 1. второй подраздел ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransitDirectionCode" type="clt_ru:TransitDirectionCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation> ИМ, ЭК, ТР, ВТ, ТС. Гр. 1 ТД. Третий подраздел. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак использования ДТ в форме электронного документа. ЭД. Гр. 1 ДТ. Третий подраздел. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код особенности декларирования товаров по Классификатору особенностей таможенного декларирования товаров. Гр.7 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubsoilSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак недропользователя. для РК</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SealNumber" type="clt_ru:Text10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер пломбиратора в ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SealQuantity" type="clt_ru:Quantity3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество наложенных пломб в ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LanguageCUESAD" type="clt_ru:LanguageCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код языка заполнения документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecipientCountryCode" type="clt_ru:CountryA2CodeType">
						<xs:annotation>
							<xs:documentation>Код страны, в сооветствии с Классификатором стран мира, таможенного органа, которому представляется документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MovementCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код цели перемещения в ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUGoodsShipment" type="ESADout_CU:ESADout_CUGoodsShipmentType">
						<xs:annotation>
							<xs:documentation>Сведения о товарной партии.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RBTechMarK" type="ESADout_CU:RBTechMarKType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Технические отметки для РБ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006107E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа. (Код документа в Альбоме форматов для РФ)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CUWarehousePlaceType">
		<xs:annotation>
			<xs:documentation>Сведения о документе свидетельствующем о включении в реестры уполномоченных экономических операторов либо реестры владельцев складов хранения собственных товаров, владельцев складов временного хранения, владельцев таможенных складов либот свободных складов, разрешение на временное хранение на складе получателя.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsPaymentType">
		<xs:annotation>
			<xs:documentation>Сведения об уплате. Гр. В.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
				<xs:sequence>
					<xs:element name="PaymentDocument" type="ESADout_CU:PaymentDocumentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Платежный документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0">
						<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsRepresCertificateType">
		<xs:annotation>
			<xs:documentation>Документ, свидетельствующий о включении лица  в Реестр таможенных представителей. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа:2 - свидетельство таможенного  представителя (брокера ); 3 - свидетельство таможенного представителя.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADoutGoodsOrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="ContractorIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUBorderTransportType">
		<xs:annotation>
			<xs:documentation>Транспортные средства на границе / внутри страны. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUTransportMeansType">
				<xs:sequence>
					<xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество транспортных средств</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание транспортного средства.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUCarrierType">
		<xs:annotation>
			<xs:documentation>Сведения о перевозчике.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="ESADout_CUDriverInformation" type="cat_ru:DriverInformationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о водителях транспортных средств. Заполняется при транзите товаров автомобильным транспортом.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUConsigmentType">
		<xs:annotation>
			<xs:documentation>Сведения о перевозке товаров. Гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29  -ДТ/ Гр. 15, 17, 18, 19, 21, 25, 26, 29 , 53, 55- ТД</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUConsigmentType">
				<xs:sequence>
					<xs:element name="DateExpectedArrival" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска. ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeExpectedArrival" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска.ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUDepartureArrivalTransport" type="ESADout_CU:ESADout_CUDepartureArrivalTransportType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Транспортные средства при прибытии/убытии. Гр. 18, 26</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUBorderTransport" type="ESADout_CU:ESADout_CUBorderTransportType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Транспортные средства на границе. Гр. 21, 25  ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUReloadingInfo" type="catESAD_cu:ESADReloadingInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о перегрузке товаров. Гр. 55 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryCustomsOffice" type="cat_ru:CUCustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган назначения при транзите.гр.53 ТД.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PPBorderCustoms" type="cat_ru:CUCustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств. ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUConsigneeType">
		<xs:annotation>
			<xs:documentation>Сведения о получателе товаров.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="OfficesExchangeCode" type="clt_ru:Count6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код учреждения обмена подачи международных почтовых отправлений </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractorIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ; 2 - РАЗНЫЕ ПО СПИСКУ.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUConsignorType">
		<xs:annotation>
			<xs:documentation>Сведения об отправителе товаров.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="OfficesExchangeCode" type="clt_ru:Count6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код учреждения обмена подачи международных почтовых отправлений </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractorIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUDeclarantType">
		<xs:annotation>
			<xs:documentation>Сведения о декларанте товаров.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUDepartureArrivalTransportType">
		<xs:annotation>
			<xs:documentation>Транспортные средства при отправлении/прибытии. Гр. 18, 26 ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUTransportMeansType">
				<xs:sequence>
					<xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество транспортных средств</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание транспортного средства.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUFilledPersonType">
		<xs:annotation>
			<xs:documentation>Сведения о лице, заполнившем декларацию.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUESADFilledPersonType">
				<xs:sequence>
					<xs:element name="ExecutionPlace" type="clt_ru:CityNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место представления ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RailwayStationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ж/д станции. Гр.50 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsRepresCertificate" type="ESADout_CU:CustomsRepresCertificateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, свидетельствующий о включении лица  в Реестр таможенных представителей. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUFinancialAdjustingResponsiblePersonType">
		<xs:annotation>
			<xs:documentation>Лицо ответственное за финансовое урегулирование.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUGoodsLocationType">
		<xs:annotation>
			<xs:documentation>Местонахождение товаров. Гр. 30 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InformationTypeCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип информации: 11- СВХ;  21- ТС; 25 - Свободный склад; 31- Склад получателя; 41 - Склад хранения собственных товаров (для РК); 52 - Транспортное средство (для РК); 60 - Помещение (площадки) УЭО; 72 - ЗТК (для РБ); 91 - Адрес места хранения  (для РБ); 99 - Иное место ВХ, 80 - ОЭЗ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsOffice" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="GoodsLocationPlace" type="catESAD_cu:CUGoodsLocationPlaceType">
					<xs:annotation>
						<xs:documentation>Сведения о местонахождении товара</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GoodsLocationWarehouse" type="ESADout_CU:CUWarehousePlaceType">
					<xs:annotation>
						<xs:documentation>Сведения о местонахождении товаров: таможенный склад, склад временного хранения, свободный склад, склад получателя, иные</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Transport" type="catESAD_cu:CUTransportType">
					<xs:annotation>
						<xs:documentation>Сведения о местонахождении товаров - транспортное средство</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Точный адрес местонахождения товаров. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ESADout_CUGoodsShipmentType">
		<xs:annotation>
			<xs:documentation>Сведения о товарной партии.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUESADGoodsShipmentType">
				<xs:sequence>
					<xs:element name="ESADout_CUConsignor" type="ESADout_CU:ESADout_CUConsignorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об отправителе товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUConsignee" type="ESADout_CU:ESADout_CUConsigneeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о получателе товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUFinancialAdjustingResponsiblePerson" type="ESADout_CU:ESADout_CUFinancialAdjustingResponsiblePersonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо ответственное за финансовое урегулирование.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUDeclarant" type="ESADout_CU:ESADout_CUDeclarantType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о декларанте товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUFilledPerson" type="ESADout_CU:ESADout_CUFilledPersonType">
						<xs:annotation>
							<xs:documentation>Сведения о лице, заполнившем декларацию. Гр. 54/ гр 50 ТД </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUCarrier" type="ESADout_CU:ESADout_CUCarrierType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о перевозчике гр. 50 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUGoodsLocation" type="ESADout_CU:ESADout_CUGoodsLocationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Местонахождение товаров. Гр. 30 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUConsigment" type="ESADout_CU:ESADout_CUConsigmentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о перевозке товаров. Гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29  -ДТ/ Гр. 15, 17, 18, 19, 21, 25, 26, 29 , 53, 55- ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUMainContractTerms" type="ESADout_CU:ESADout_CUMainContractTermsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Условия сделки Гр. 11, 20, 22, 23, 24 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUGoods" type="ESADout_CU:ESADout_CUGoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Товарная часть Гр. 31-47.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUPayments" type="ESADout_CU:ESADout_CUPaymentsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Guarantee" type="catESAD_cu:CUGuaranteeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Гарантия.Гр 52 в ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TDGuarantee" type="catESAD_cu:TDGuaranteeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Гарантия для ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUGoodsType">
		<xs:annotation>
			<xs:documentation>Товарная часть. Гр. 31-47</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUESADGoodsItemType">
				<xs:sequence>
					<xs:element name="LanguageGoods" type="clt_ru:LanguageCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код языка  описания товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MilitaryProducts" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак продукции военного назначения. true - да, fasle - нет. гр.31 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код валюты стоимости товара (заполняется для ТД)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUPresentedDocument" type="catESAD_cu:CUPresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Представленные документы. Гр. 44.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUPrecedingDocument" type="catESAD_cu:CUPrecedingDocumentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Предшествующие документы. Гр. 40.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUCustomsPaymentCalculation" type="catESAD_cu:CUCustomsPaymentCalculationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation> Исчисление таможенных платежей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADout_CUCustomsConditions" type="catESAD_cu:ProcessingGoodsDeclarationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения, указываемые в случае, если ДТ используется в качестве заявления на получение разрешения на переработку товаровэлемент 6 гр 31, гр 44</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество товара в дополнительной единице измерения.  Гр.41</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryGoodsQuantity1" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
						<xs:annotation>
							<xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной элемент 1 Гр.31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADGoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADGoodsQuota" type="catESAD_cu:ESADGoodsQuotaType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Квота.Гр 39 в ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADContainer" type="catESAD_cu:ESADContainerType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о контейнерах.элемент 3 Гр 31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADCustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процедура.Гр 37</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADExcise" type="catESAD_cu:ESADExciseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения об акцизных марках элемент 4 гр 31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectricalEnergReceived" type="catESAD_cu:CU_ElectricalEnergyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о количестве принятой электроэнергии за отчетный период. элемент 9 Гр 31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectricalEnergGiven" type="catESAD_cu:CU_ElectricalEnergyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о количестве переданной электроэнергии за отчетный период. элемент 9 Гр 31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsAutomobile" type="catESAD_cu:AutomobileType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения об автомобилях. Гр. 31.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADoutGoodsOrganization" type="ESADout_CU:ESADoutGoodsOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RBSupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество товара помещенного под процедуру переработки и свободную таможенную зону для РБ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUMainContractTermsType">
		<xs:annotation>
			<xs:documentation>Условия сделки Гр. 11, 20, 22, 23, 24 ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUESADMainContractTermsType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADout_CUPaymentsType">
		<xs:annotation>
			<xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ESADout_CUCustomsPayment" type="ESADout_CU:CustomsPaymentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об уплате. Гр. В.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUDelayPayments" type="catESAD_cu:CUDelayPaymentsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отсрочка платежей гр.48</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDocumentType">
		<xs:annotation>
			<xs:documentation>Платежный документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата уплаты</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RBTechMarKType">
		<xs:annotation>
			<xs:documentation>Технические отметки для РБ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DelcKind" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Вид корректировки в соответствии с Классификатором видов корректировок </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SumPayment" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сумма подлежащая к уплате обеспечения.ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
